data/trips_2018.csv
data/NYC_Weather_2016_2022.csv
data/2019-citibike-tripdata/10_October/201910-citibike-tripdata_1.csv
data/2019-citibike-tripdata/10_October/201910-citibike-tripdata_2.csv
data/2019-citibike-tripdata/10_October/201910-citibike-tripdata_3.csv
data/2019-citibike-tripdata/11_November/201911-citibike-tripdata_1.csv
data/2019-citibike-tripdata/11_November/201911-citibike-tripdata_2.csv
data/2019-citibike-tripdata/12_December/201912-citibike-tripdata_1.csv
data/2019-citibike-tripdata/1_January/201901-citibike-tripdata_1.csv
data/2019-citibike-tripdata/2_February/201902-citibike-tripdata_1.csv
data/2019-citibike-tripdata/3_March/201903-citibike-tripdata_1.csv
data/2019-citibike-tripdata/3_March/201903-citibike-tripdata_2.csv
data/2019-citibike-tripdata/4_April/201904-citibike-tripdata_1.csv
data/2019-citibike-tripdata/4_April/201904-citibike-tripdata_2.csv
data/2019-citibike-tripdata/5_May/201905-citibike-tripdata_1.csv
data/2019-citibike-tripdata/5_May/201905-citibike-tripdata_2.csv
data/2019-citibike-tripdata/6_June/201906-citibike-tripdata_1.csv
data/2019-citibike-tripdata/6_June/201906-citibike-tripdata_2.csv
data/2019-citibike-tripdata/6_June/201906-citibike-tripdata_3.csv
data/2019-citibike-tripdata/7_July/201907-citibike-tripdata_1.csv
data/2019-citibike-tripdata/7_July/201907-citibike-tripdata_2.csv
data/2019-citibike-tripdata/7_July/201907-citibike-tripdata_3.csv
data/2019-citibike-tripdata/8_August/201908-citibike-tripdata_1.csv
data/2019-citibike-tripdata/8_August/201908-citibike-tripdata_2.csv
data/2019-citibike-tripdata/8_August/201908-citibike-tripdata_3.csv
data/2019-citibike-tripdata/9_September/201909-citibike-tripdata_1.csv
data/2019-citibike-tripdata/9_September/201909-citibike-tripdata_2.csv
data/2019-citibike-tripdata/9_September/201909-citibike-tripdata_3.csv
data/Trips_2019.csv
